* {
    box-sizing: border-box;
    margin:0 ;
    padding: 0;
}

.container {
    text-align: center;
    margin-top: 70px;
    border: auto;
    width: 60%;

}
.question {
    font-size: 25px;
}

.choice-container {
    margin: 20px;
    padding: 20px;
    
}

.btn {
    background-color: green;
    color: white;
    width: 120px;
    position: center;
    margin: 5px;
}
